@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.tag-list{
    padding: 1rem;
    background-color: $secondary-background-color;
    @include tablet {
        @include tablet-padding;
    }
    @include desktop{
        flex-basis: 30%;
        flex-shrink: 0;
    }
    &__title{
        @include mobile-heading-style;
        @include tablet{
            @include tablet-desktop-heading-style;
        }
    }
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    &__item{
        @include mobile-label-style;
        @include mobile-tag-list-item-style-clickable;
        &:hover{
            background-color: $primary-accent-color;
            color: $secondary-text-color;
        }
        &--active{
            background-color: $primary-accent-color;
            color: $secondary-text-color;
        }
        @include tablet{
            @include tablet-desktop-label-style;
            @include tablet-desktop-tag-list-item-style-clickable(0.5rem);
            &--active{
                background-color: $primary-accent-color;
                color: $secondary-text-color;
            }
        }
    }
}