@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.tag-list{
    padding: 0 1rem 1rem;
    background-color: $secondary-background-color;
    &__title{
        @include mobile-heading-style;
    }
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    }
    &__item{
        @include mobile-label-style;
        @include mobile-tag-list-item-style-clickable;
        &:hover{
            background-color: $primary-accent-color;
            color: $secondary-text-color;
        }
        &--active{
            background-color: $primary-accent-color;
            color: $secondary-text-color;
        }
    }
}