
$primary-text-color: #0C1E1A;
$primary-accent-color: #1E6655;
$primary-background-color: #EFFAF7;
$border-color: #B7CEC9;
$secondary-background-color: #E4EFEC;
$secondary-text-color: #FFFFFF;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;