@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet{
        @include tablet-padding;
    }
    &__title{
        @include mobile-wordmark-style;
        @include tablet{
            @include tablet-desktop-wordmark-style;
            padding: 1.5rem 0;
        }
    }
    &__button{
        @include mobile-label-style;
        @include mobile-cta-button;
        &-icon{
            fill: $primary-accent-color;
        }
        &:hover{
            background-color: $primary-accent-color;
            color: $secondary-text-color;
            cursor: pointer;
            .header__button-icon {
                fill: $secondary-text-color;
            }
        }
        &--active{
            background-color: $primary-accent-color;
            color: $secondary-text-color;
            .header__button-icon {
                fill: $secondary-text-color;
            }
        }
        @include tablet{
            @include tablet-desktop-label-style;
            @include tablet-desktop-cta-button;
            &--active{
                background-color: $primary-accent-color;
                color: $secondary-text-color;
                .header__button-icon {
                    fill: $secondary-text-color;
                }
            }
        }
    }
}
