@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__title{
        @include mobile-wordmark-style;
    }
    &__details{
        @include mobile-body-style(500);
        &--green{
            color: $border-color;
        }
    }
    &__content{
        &--flex{
            display: flex;
            gap: 1rem;
        }
    }
}