@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.comment{
    &__list{
        list-style: none;
        padding: 1rem;
    }
    &__item{
        border-top: 1px solid $border-color;
    }
    &__container{
        padding: 1rem 0 0 0;
        display: flex;
        justify-content: space-between;

    }
    &__info{
        @include mobile-body-style(500);
    }
    &__info--color{
        color: $primary-accent-color;
    }
}